<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">   
<configuration>

	<typeAliases>
       <package name="com.anim.study.domain" />
	</typeAliases>
	
	<environments default="development">
		<!-- 每个environment元素定义的环境ID -->
		<environment id="development">
			<!-- 事务处理方式 -->
			<transactionManager type="JDBC" />
			<!-- 数据源配置 -->
			<dataSource type="POOLED">
				<!-- 数据库JDBC驱动 -->
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<!-- 数据库URL -->
				<property name="url" value="jdbc:mysql://localhost:3306/quadratic_element?useUnicode=true&amp;characterEncoding=utf-8" />
				<!-- 数据库用户 -->
				<property name="username" value="root" /> 
				<!-- 密码 -->
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<!-- 映射文件配置 -->
	<mappers>
		<mapper resource="com/mapper/UserMapper.xml"/>
		<mapper resource="com/mapper/CategoryMapper.xml"/>
		<mapper resource="com/mapper/RoleMapper.xml"/>
	</mappers>
</configuration>