<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anim.study.dao.CollectMapper" >
  <resultMap id="BaseResultMap" type="com.anim.study.domain.Collect" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="collect_time" property="collectTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, role_id, collect_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from collect
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from collect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.anim.study.domain.Collect" >
    insert into collect (user_id, role_id, collect_time)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{collectTime,jdbcType=TIMESTAMP})
  </insert>
  <!--多表连接查询角色信息并分页 / 延时加载 一对多/ 多对多时使用 fetchType="lazy" -->
  <resultMap id="CollectRoleResultMap" type="com.anim.study.domain.CollectRole">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="about" property="about" jdbcType="VARCHAR" />
    <result column="head_image" property="headImage" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="INTEGER" />
    <result column="more" property="more" jdbcType="INTEGER" />
    <result column="collect_time" property="collectTime" jdbcType="TIMESTAMP" />
<!--    <collection property="" fetchType="lazy"/>-->
  </resultMap>
  <select id="selectCollectRoles" resultMap="CollectRoleResultMap" parameterType="java.lang.Integer">
    select rl.* , ct.collect_time from
    collect ct left join roles rl
    on ct.role_id = rl.id
    <where>
      <if test="userId != null">
        ct.user_id = #{userId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
<!--  <select id="findRolesCount" resultType="long" parameterType="java.lang.Integer">-->
<!--    select count(1) from-->
<!--    collect ct left join roles rl-->
<!--    on ct.role_id = rl.id-->
<!--    where ct.user_id = #{id,jdbcType=INTEGER}-->
<!--  </select>-->
</mapper>