<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- 角色登录 -->
  <servlet>
    <!-- 里面随便写只要保持和servlet-mapping标签里的servlet-name里的值一样就行 -->
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.anim.study.service.UserLoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <!-- 浏览器访问地址 -->
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <!-- 分类 -->
  <servlet>
    <servlet-name>RoleCategoryServlet</servlet-name>
    <servlet-class>com.anim.study.service.RoleCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleCategoryServlet</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>

  <!-- 角色列表 -->
  <servlet>
    <servlet-name>RolesServlet</servlet-name>
    <servlet-class>com.anim.study.service.RolesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolesServlet</servlet-name>
    <url-pattern>/roles</url-pattern>
  </servlet-mapping>

  <!-- 用户收藏 -->
  <servlet>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>com.anim.study.service.CollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/collect/save</url-pattern>
    <url-pattern>/collect/delete</url-pattern>
    <url-pattern>/collect/find</url-pattern>
  </servlet-mapping>

</web-app>
